/ConsoleApplication3/.vs/ConsoleApplication3/v16/.suo
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db-shm
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db-wal
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.opendb
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/547386f035cc040c/CONSOLEAPPLICATION3.ipch
/ConsoleApplication3/ConsoleApplication3/Debug/vc142.idb
/ConsoleApplication3/ConsoleApplication3/Debug/vc142.pdb
/ConsoleApplication3/Debug/ConsoleApplication3.exe
/ConsoleApplication3/Debug/ConsoleApplication3.ilk
/ConsoleApplication3/Debug/ConsoleApplication3.pdb
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.command.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.read.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.write.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/ConsoleApplication3.lastbuildstate
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.command.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.read.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.write.1.tlog
