/ConsoleApplication3/.vs/ConsoleApplication3/v16/.suo
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db-shm
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.db-wal
/ConsoleApplication3/.vs/ConsoleApplication3/v16/Browse.VC.opendb
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/547386f035cc040c/CONSOLEAPPLICATION3.ipch
/ConsoleApplication3/ConsoleApplication3/Debug/vc142.idb
/ConsoleApplication3/ConsoleApplication3/Debug/vc142.pdb
/ConsoleApplication3/Debug/ConsoleApplication3.exe
/ConsoleApplication3/Debug/ConsoleApplication3.ilk
/ConsoleApplication3/Debug/ConsoleApplication3.pdb
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.command.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.read.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/CL.write.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/ConsoleApplication3.lastbuildstate
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.command.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.read.1.tlog
/ConsoleApplication3/ConsoleApplication3/Debug/ConsoleA.2d287def.tlog/link.write.1.tlog
/ConsoleApplication3/Debug
/ConsoleApplication3/x64
/ConsoleApplication3/ConsoleApplication3/Debug
/ConsoleApplication3/ConsoleApplication3/x64
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/43f20603f43ab96b/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/51238f33d2d879b9/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/9fa46590a8e49e93/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/d49f4860333bfab9/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/ef05dacc4dbfbe0c/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/f77c78be83a0e969/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/33bc393ce0bf239d/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/38e51ed0b5734651/*.ipch
/ConsoleApplication3/.vs/ConsoleApplication3/v16/ipch/AutoPCH/a38438ef8615bdaf/*.ipch
/sfml_test/Debug
/sfml_test/x64
/sfml_test/.vs
/sfml_curve_edit/.vs
/sfml_curve_edit/x64
/sfml_curve_edit/Debug
/sfml_moteur_case/.vs
/sfml_moteur_case/x64
/sfml_moteur_case_ia/.vs
/sfml_moteur_case_ia/x64
